* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: white;
  font-family: "Josefin Sans";
}
/* Wrapper */
.wrapper {
  display: flex;
  height: 100%;
}

/* Left-Pane */
/* Shared Styles */
.main-card {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.card {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75px;
  display: flex;
  height: 33.33%; 
  justify-content: center;
  width: 33.33%;
}

.card-text {
  font-family: "Amatic SC";
  font-size: 24px;
  font-weight: 700;
  margin-top: 120px;
}

/* Card 1 */
.card-1 {
  background-color: lightgreen;
  height: 33.33%;
  padding: 50px 0 0 50px;
  width: 66.66%;
}

.card-1-header {
  font-size: 36px;
  margin-bottom: 20px;
}

.card-1-text {
  margin-bottom: 10px;
}

.button {
  background: none;
  border: 2px solid white;
  color: white;
  height: 40px;
  margin-right: 20px;
  width: 130px;
}

/* Card 2 */
.card-2 {
  background-color: lightseagreen;  
  background-image: url('../images/centaur-1.svg');
}

.card-2:hover {
  background-image: url('../images/centaur-2.svg');
}

.card-2:active {
  background-image: url('../images/centaur-3.svg');
}

/* Card 3 */
.card-3 {
  background-color: lightgray;  
  background-image: url('../images/dragon-1.svg');
}

.card-3:hover {
  background-image: url('../images/dragon-2.svg');
}

.card-3:active {
  background-image: url('../images/dragon-3.svg');
}

/* Card 4 */
.card-4 {
  background-color: lightslategray;  
  background-image: url('../images/medusa-1.svg');
}

.card-4:hover {
  background-image: url('../images/medusa-2.svg');
}

.card-4:active {
  background-image: url('../images/medusa-3.svg');
}

/* Card 5 */
.card-5 {
  background-color: lightblue;  
  background-image: url('../images/pirate-1.svg');
}

.card-5:hover {
  background-image: url('../images/pirate-2.svg');
}

.card-5:active {
  background-image: url('../images/pirate-3.svg');
}

/* Card 6 */
.card-6 {
  background-color: lightsalmon;  
  background-image: url('../images/werewolf-1.svg');
}

.card-6:hover {
  background-image: url('../images/werewolf-2.svg');
}

.card-6:active {
  background-image: url('../images/werewolf-3.svg');
}

/* Card 7 */
.card-7 {
  background-color: lightpink;  
  background-image: url('../images/vampire-1.svg');
}

.card-7:hover {
  background-image: url('../images/vampire-2.svg');
}

.card-7:active {
  background-image: url('../images/vampire-3.svg');
}

/* Card 8 */
.card-8 {
  background-color: lightskyblue;  
  background-image: url('../images/wizard-1.svg');
}

.card-8:hover {
  background-image: url('../images/wizard-2.svg');
}

.card-8:active {
  background-image: url('../images/wizard-3.svg');
}


/* Right-Pane */
.side-card {
  background-image: url('../images/unicorn-full.jpg');
  background-position-x: 50%;
  width: 35%;
}

.dots {
  background-color: gray;
  border: 2px solid gray;
  border-radius: 50%;
  font-size: 24px;
  height: 12px;
  padding-top: 1px;
  position: absolute;  
  width: 12px;
}

.dot-1 {
  background-color: white;
  border: 2px solid white;
  right: 3.5%;
  top: 2%;
}

.dot-2 {
  right: 2.25%;
  top: 2%;
}

.dot-3 {
  right: 1%;
  top: 2%;
}

.arrows {
  background-color: gray;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 24px;
  height: 30px;
  padding-top: 1px;
  position: absolute;  
  text-align: center;
  width: 30px;
}

.arrows:hover {
  color: lightblue;
  cursor: pointer;
}

.left-arrow {
  padding-right: 1px;
  right: 31%;
  top: 47.5%;
}

.right-arrow {
  padding-left: 2px;
  right: 1.5%;
  top: 47.5%;
}